body{
	position: relative;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}
/* Стилизация ссылок */
a{ 
	color: blue;
	text-align: center;
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
}
/* Стилизация параграфов h1 */
h1 {
	color:black;
	text-align: left;
	font-family: Geneva, sans-serif;

}


 /* Стилизация вкладок */
.tab {
	display: flex;
    overflow: visible;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
}

/* Стилизация кнопок открывающих вкладки */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* При наведении меняется цвет кнопки */
.tab button:hover {
    background-color: #ddd;
}

/* Активная кнопка на данный момент */
.tab button.active {
    background-color: #4CAF50;
}

/* Стилизация контента в вкладке */
.tabcontent {
	flex-grow: 1;
	flex-shrink: 0;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
    -webkit-animation: fadeEffect 1s;
	-moz-animation: fadeEffect 1s;
    box-sizing: border-box;
}
/* Анимация для эффекта fadeEffect */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1}
}
/* Шрифты для основного текста */
p {
	font-family: Tahoma, Geneva, sans-serif;
}

a:hover {
	color: #1609ad;
	text-decoration: underline;
}

.footer {
	padding: 15px 0;
	box-sizing: border-box;
	background-color: #f51414;
	color: white;
	text-align: center;
	animation: fadeEffect 1s;
	-webkit-animation: fadeEffect 1s;
	-o-animation: fadeEffect 1s;
	-moz-animation: fadeEffect 1s;
	margin-top: auto;
}

