body{
	margin: 0
}
/* Стилизация ссылок */
a{ 
	color: blue;
	text-align: center;
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
}
/* Стилизация параграфов h1 */
h1 {
	color:black;
	text-align: left;
	font-family: Geneva, sans-serif;

}


 /* Стилизация вкладок */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Стилизация кнопок открывающих вкладки */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* При наведении меняется цвет кнопки */
.tab button:hover {
    background-color: #ddd;
}

/* Активная кнопка на данный момент */
.tab button.active {
    background-color: #4CAF50;
}

/* Стилизация контента в вкладке */
.tabcontent {
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}
/* Анимация для эффекта fadeEffect */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1}
}
/* Шрифты для основного текста */
p {
	font-family: Tahoma, Geneva, sans-serif;
}

a:hover {
	color: red;
	text-decoration: underline;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f51414;
	color: white;
	text-align: center;
	animation: fadeEffect 1s;
}


@media screen and (max-width: 400px) {
	.tab button {
		float: none;
		width: 100%;
	}
}