:root {
	--bg-color: hsl(49 37% 94%);
	--typeAnimationspeed: 2s;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	min-height: 100vh;
	display: grid;
	place-content: center;
	text-align: center;
	background: var(--bg-color);
}

h1 {
	font-size: clamp(1rem, 3vw + 1rem, 4rem);
	position: relative;
	font-family: 'Source Sans Pro', monospace;
	width: max-content;
}

h1::before,
h1::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

a {
	font-family: 'Source Sans Pro', monospace;
	font-size: 2rem;
	font-weight: 400;
}

a:hover {
	animation: hoverButton 0.5s forwards;
}

h1::before {
	background: var(--bg-color);
	animation: typeAnimation var(--typeAnimationspeed) steps(31) forwards;
}

h1::after {
	width: 0.105em;
	background: black;
	animation:
		typeAnimation var(--typeAnimationspeed) steps(31) forwards,
		blink 500ms steps(31) infinite;
}

p::before {
	animation: typeAnimation var(--typeAnimationspeed) 2s steps(13) forwards;

}

@keyframes typeAnimation {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes hoverButton {
	to {
		color: crimson;
	}
}

.subtitle {
	color: hsl(0, 0%, 0% / 0.7);
	font-size: 2rem;
	font-weight: 400;
}